/* Add CSS Styling */
.odd {
    color: rgb(255, 182, 193);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}
#2 {
    color:#0000ff;
    font-size: 36px;
}
.4 {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}
